*{
    margin : 0;
    font-family :'Times New Roman', Times, serif;
    border : border-box;
}

.navigationbar{
    height : 60px;
    background-color : #0f1111;
    color : #ffffff;
    display : flex;
    justify-content: space-evenly;
}

.companylogo{
    height : 50px;
    width : 120px;
}

.logo{
    background-image: url("Materials/amazon_logo.png");
    background-size: cover;
    height : 60px;
    width: 100%;
}

.border{
    border : 1px solid transparent;
}

.border:hover{
    border : 1px solid gray;
}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 16px;
    margin-top: 15px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 5px;
}

.add-icon{
    display: flex;
}

.search{
    display: flex;
    background-color: #ffd580;
    width : 910px;
    height : 40px;
    border-radius: 4px;
    justify-content: space-evenly;
    margin-top: 10px;
}

.search:hover{
    border: 2px solid orange;
}

.searchselect{
    background-color: #f3f3f3;
    width : 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border : none;
}

.searchinput{
    width : 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width : 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.language{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.signin{
    margin-top: 9px;
}

span{
    font-size: 0.7rem;
}

.signsecond{
    font-size: 0.85rem;
    font-weight: 700;
}

.return-order{
    margin-top: 8.5px;
}

.cart i{
    margin-top: 9px;
    font-size: 30px;
}

.cart{
    font-size: 0.85rem;
    font-weight: 700;
}

.panel{
    height : 40px;
    background-color: #222f3d;
    color : white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-options a{
    display :inline;
    margin-left: 10px;
    text-decoration: none;
    color : white;
}

.panel-options{
    width : 95%;
    font-size: 0.95rem;
}

.herosection{
    background-image: url("Materials/hero_image.jpg");
    background-size: cover;
    height : 500px;
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopsection{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #b5dfb2;
}

.box{
    height : 400px;
    width : 23%;
    justify-content: space-evenly;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.boximg{
    height : 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.boxcontent{
    margin-left: 16px;
    margin-right: 16px;
}

.boxcontent a{
    color : blue;
}

.footpanel1{
    background-color: #37475a;
    color : white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.footpanel2{
    background-color: #222f3d;
    color : white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    color: #dddddd;
    text-decoration: none;
    margin-top: 10px;
}

.footpanel3 {
    background-color: #222f3d;
    color : white;
    border-top: 0.5px solid white;
    height : 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo2{
    background-image: url("Materials/amazon_logo.png");
    background-size: cover;
    height : 50px;
    width: 100px;
}

.footpanel4{
    background-color: #0f1111;
    color : white;
    height : 76px;
    justify-content: space-evenly;
    text-align: center;
    font-size: 0.7rem;
}

.pages{
    font-size: 0.85rem;
    text-align: center;
    padding: 20px;
}

.pages a{
    color : white;
    text-decoration: none;
}

.footpanel4 a{
    color : white;
}

.copy{
    font-size: 0.7rem;
}